# --- Frontend (Angular/React) ---
# Sucht 'dist' in jedem Unterordner
**/dist/
**/tmp/
**/out-tsc/
**/bazel-out/

# --- Node Modules ---
# Sucht 'node_modules' überall im Projekt
**/node_modules/
node_modules/

# --- Backend (Django) ---
# Spezifisch für den backend-Ordner
backend/env/
backend/db.sqlite3
**/__pycache__/
*.py[cod]